<h1>Welcome, <%= current_user.email %></h1>

<%= link_to 'Attach to profile a customer_id', customer_new_path, class: "btn btn-success" %> 
<hr />
<%= link_to 'Create new connection', new_connection_path, class: "btn btn-success" %> 
<hr />
<%= link_to 'Created connections', connections_path, class: "btn btn-success" %> 
<hr />

<p>Find me in app/views/home/index.html.erb</p>